body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    height: 100vh;
}
.reg_box{
    display: flex;
    flex-direction: column;
    align-items: center;

}
form {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

/* Input Fields */
input {
    height: 30px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.label_part{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

/* Buttons */
button {
    background: #28a745;
    color: white;
    border: none;
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background: #218838;
}

/* Headings */
h1 {
    color: #333;
}

/* Home Page Styles */
.container {
    text-align: center;
}

.logout-button {
    background: #dc3545;
}

.logout-button:hover {
    background: #c82333;
}


header{
    background-color: #28a745;
}