body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}


.reg_box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px auto 150px auto;  
}

form {
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0px 0px 20px rgba(0, 0, 1, 0.9);
    width: 500px;
    text-align: center;
    
}


input, textarea {
    width: 100%;
    height: 40px;
    margin: 12px 0;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    padding: 8px;
    box-sizing: border-box;
}

textarea {
    resize: vertical;
    min-height: 100px;
}

.label_part {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 10px;
}


button {
    background: #135085;
    color: white;
    border: none;
    padding: 12px;
    width: 100%;
    border-radius: 8px;
    cursor: pointer;
    font-size: 18px;
    margin-top: 20px;
}

button:hover {
    transition: .3s;
    background: #03095c;
}

h1 {
    color: #135085;
    font-size: 28px;
    margin-bottom: 20px;
}

.container {
    text-align: center;
}

